<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sn %><br />
    <%= f.text_field :sn %>
  </div>
  <div class="field">
    <%= f.label :registered_at %><br />
    <%= f.datetime_select :registered_at %>
  </div>
  <div class="field">
    <%= f.label :last_see_at %><br />
    <%= f.datetime_select :last_see_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
