<div class="list_1">
  <div class="list_title">
    <div class="list_title_left">调查问卷记录</div>
    <div class="list_title_right">
    </div>
  </div>
  <div class="tab_content">
    <table width="100%" border="1" cellpadding="0" cellspacing="0" class="table1">
      <thead>
        <tr>
			<th width="100">序号</th>
			<th width="400">填写时间</th>
			<% @suite.survey_questions.each do |q| %>
			<th width="100">
			<%= q.order %>
			</th>
			<% end %>
			<th width="100">操作</th>
        </tr>
      </thead>
      <tbody>
		<% @survey_answers.each do |survey_answer| %>
		<tr>
			<td><%= survey_answer.id %></td>
			<td><%= survey_answer.recorded_at == nil ? "" : survey_answer.recorded_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
			<% survey_answer.survey_answer_items.each do |item| %>
		    <td><%= item.body %></td>
			<% end %>
			<td><%= link_to '查看', survey_answer, { :class => 'screenshot' } %></td>
		</tr>
		<% end %>
      </tbody>
    </table>
	<%= paginate @survey_answers %>
  </div>
</div>

