<p id="notice"><%= notice %></p>


<% @survey_answer.survey_suite.survey_questions.each do |q| %>
<b><%= q.order %>.
<%= q.title %>
</b>
答案：
<% answer_item = @survey_answer.survey_answer_items.where("survey_question_id = :survey_question_id", :survey_question_id => q.id).first %>
<% if answer_item != nil %>
<%= answer_item.body %>
<% end %>
<br />
<% q.survey_question_items.each do |i| %>
<%= i.order %>,
<%= i.body %>
<% end %>
<br />
<% end %>
<%= link_to '返回', survey_answers_path %>
