<%= form_for(@survey_answer_item) do |f| %>
  <% if @survey_answer_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_answer_item.errors.count, "error") %> prohibited this survey_answer_item from being saved:</h2>

      <ul>
      <% @survey_answer_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survey_answer_id %><br />
    <%= f.number_field :survey_answer_id %>
  </div>
  <div class="field">
    <%= f.label :survey_question_id %><br />
    <%= f.number_field :survey_question_id %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
