<p id="notice"><%= notice %></p>

<p>
  <b>Survey suite:</b>
  <%= @survey_question.survey_suite_id %>
</p>

<p>
  <b>Order:</b>
  <%= @survey_question.order %>
</p>

<p>
  <b>Title:</b>
  <%= @survey_question.title %>
</p>


<%= link_to 'Edit', edit_survey_question_path(@survey_question) %> |
<%= link_to 'Back', survey_questions_path %>
